* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container {
    display: flex;
    gap: 0.3vw;
    align-items: stretch;
    height: 565px;
}

.main__calc {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(6, 90px);
    height: 565px;
}

#result {
    grid-column: span 4;
    text-align: end;
    width: 100%;
}

.btn {
    width: 90px;
    height: 90px;
    cursor: pointer;
    user-select: none;
}

.btn__result {
    grid-column: span 4;
    width: 100%;
}

.more__container {
    display: flex;     
    height: 565px;
    align-items: center;
    gap: 5px;
    position: relative;
    width: 90px;
}

.btn__more {
    height: 100%;
    width: 60px;
}

#more-operations {
    position: absolute;
    left: 67%; 
    display: none;
    gap: 5px;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(6, 90px);
    padding: 5px;
    z-index: 10;
}