* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    display: block;
}

.disabled {
    display: none;
}

.wrapper .main_calc__container.disabled,
.wrapper .unit_calc__container.disabled,
.wrapper .curr_calc__container.disabled {
    display: none;
}

#more__measurments.more__measurments--visible {
    display: flex;
}
#more__operations.more__operations--visible {
    display: grid;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.main_calc__container {
    display: flex;
    width: 80%;
    gap: 0.3vw;
    align-items: stretch;
    height: 565px;
    order: 1;
}

.main__container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(6, 90px);
    height: 565px;
}

#result {
    grid-column: span 4;
    text-align: end;
    width: 100%;
}

.btn {
    width: 90px;
    height: 90px;
    cursor: pointer;
    user-select: none;
}

.btn__result {
    grid-column: span 4;
    width: 100%;
}

.more__container {
    display: flex;     
    height: 565px;
    align-items: center;
    gap: 5px;
    position: relative;
    width: 90px;
    order: 2;
}

.btn__more {
    height: 100%;
    width: 60px;
    flex-shrink: 0; 
}

#more__operations {
    position: absolute;
    top: 0;
    left: 67%; 
    display: none;
    gap: 5px;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(6, 90px);
    padding: 5px;
    z-index: 10;
}

.switch__container {
    width: 300px;
    flex-shrink: 0;
    order: 0;
    margin-right: 70px;
    margin-left: 19%;
}

.switc__btn {
    width: 100%;
    margin: 5px;
    cursor: pointer;
}

.unit_inputs__container {
    width: 572px;
}

.unit_inputs__container > p{
    text-align: center;
}

.unit_calc__container {
    width: auto;
}

.unit_calc__values {
    display: flex;
    gap: 5px;
}

.unit_calc__values .btn__more {
    margin-top: 90px;
}

.unit__section {
    display: none;
    gap: 5px;
}

#more__measurments {
    display: none;
    gap: 5px;
    margin-top: -50px;
}

#area__section {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: 40px repeat(4, 90px);
}

#temper__section {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: 40px 90px;
}

#volume__section {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: 40px repeat(6, 90px);
}

#length__section {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: 40px repeat(4, 90px);
}

#weight__section {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: 40px repeat(6, 90px);
}

.unit__input {
    width: 100%;
}

.input_container {
    display: flex;
    gap: 7px;
}

#second__unit {
    margin-bottom: 17px;
}

.unit__heading {
    grid-column: span 2;
    text-align: center;
}

#temper__heading {
    grid-column: span 3;
}

.unit__section > .btn__cancel, .btn__convert, .btn__reverse {
    grid-column: span 2;
    width: auto;
}

.curr_calc__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.curr_calc__values {
    display: flex;
    gap: 5px;
}

.curr__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.curr_conv__manage {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#curr_conv__cancel, #curr_conv__convert, #curr_conv__reverse {
    width: 180px;
}