* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
}

.container {
    display: flex;
    gap: 0.3vw;
    align-items: stretch;
    height: 565px;
    order: 1;
}

.main__calc {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(6, 90px);
    height: 565px;
}

#result {
    grid-column: span 4;
    text-align: end;
    width: 100%;
}

.btn {
    width: 90px;
    height: 90px;
    cursor: pointer;
    user-select: none;
}

.btn__result {
    grid-column: span 4;
    width: 100%;
}

.more__container {
    display: flex;     
    height: 565px;
    align-items: center;
    gap: 5px;
    position: relative;
    width: 90px;
    order: 2;
}

.btn__more {
    height: 100%;
    width: 60px;
}

#more-operations {
    position: absolute;
    left: 67%; 
    display: none;
    gap: 5px;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(6, 90px);
    padding: 5px;
    z-index: 10;
}

.converters__container {
    width: 300px;
    order: 0;
    margin-right: 70px;
    margin-left: 19%;
}

.unit_inputs__container > p{
    text-align: center;
    
}

.unit__calc__values {
    display: flex;
    gap: 5px;
}

.unit__section {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 90px);
    grid-template-rows: 40px repeat(4, 90px);
}

#volume__section {
    grid-template-rows: 40px repeat(7, 90px);
}

#weight__section {
    grid-template-rows: 40px repeat(3, 90px);
}

.unit__input {
    width: 100%;
}

.input_container {
    display: flex;
    gap: 7px;
}

#second__unit {
    margin-bottom: 17px;
}

.unit__heading {
    grid-column: span 2;
    text-align: center;
}